
---

---


<script>
    
import  "../scripts/timer.js"
</script>

<html lang="en">
    
<head>
        
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles/thirdPage.css" />
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap" rel="stylesheet">

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script src="/Users/hisham/Desktop/MetHacks2023Base/codemirror/lib/codemirror.js" is:inline></script>
		<script src="/Users/hisham/Desktop/MetHacks2023Base/codemirror/mode/python/python.js" is:inline></script>
		<link href="/Users/hisham/Desktop/MetHacks2023Base/codemirror/lib/codemirror.css" rel="stylesheet"/>
		<link href="/Users/hisham/Desktop/MetHacks2023Base/codemirror/theme/material.css" rel="stylesheet"/>


		<title>Code Runner</title>
	</head>
    
<body>
    
<div class="Lines">
    <div class="textLeft">
        <hr class="vertical-line">
        <h1> Problem</h1>
        <p class="problemText">Debug this python program which should be able to detect the longest Valid Parentheses. Consider the role data structures can play in this problem when you are fixing any bugs or optimization issues. Good luck!  </p>
        <div class="cases">
             <h1 >Test Cases</h1>
             <p class="in">Input {}</p>
             <span class="sub">")()())"</span>
             <p class="in">Output{}</p>
             <span class="sub">4</span>
        </div>
    </div>
    <div class="above">
        <h2 class="titleText">Fault Finder: Medium {}</h2>
         <hr class="horizontal-line">
         <div id="timer">00:00</div>
           <button class="ion-button" id="submitButton"><span>Run</span><ion-icon name="play-outline"></ion-icon></button>

         
    </div>


<div class="editor-container">
  <textarea id="editor">
def longestValidParentheses(s) -> int:
    char_set = set()
    max_len = start = 0
    for end in range(len(s)):
        while s[end] in char_set:
            char_set.remove(s[start])
            start += 1
        char_set.add(s[end])
        max_len = max(max_len, end - start + 1)
    return max_len
    </textarea>
</div>


<script>
    import axios from 'axios';
    var result;
    // const result;
var editorIDE= CodeMirror.fromTextArea(document.getElementById('editor'),{
				mode: "python",
				theme: "material",
				lineNumbers: true
			});
            editorIDE.setSize(1250, 1000);

            var button=document.getElementById("submitButton");

            submitButton.addEventListener("mousedown",function(){
                var dataFromIde=editorIDE.getValue();
                axios.post('http://localhost:80/python',{dataFromIde}).then(({data})=>

                    determine(data.passOrFail)
                
                );
            
            
            
            
            });


            function determine(a){


                if(a=='False'){
                    alert("Incorrect! You missed an error in the code, try again!");
                }

                else if(a=='True'){
                    alert("Congrats you found the error! Keep practicing and move up to higher difficulties!");
                }
            }
        

</script>

    
</body>
</html>

